@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import './vars.scss';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Montserrat', sans-serif;
}
// Default Rules
ul{
    list-style: none;
}
img{
    max-width: 100%;
}
// Layout
.container{
    margin: 0 auto;
    max-width: 900px;
}
// Card
.card_wrapper {
    position: relative;

    &:hover {
        .card_info {
            opacity: 1;
        }
    }

    .card_info {
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        
        opacity: 0;
        padding: 1rem;
        color: $bf-text_white;
        background-color: $bf-bg_alternative;
        transition: 300ms ease-in-out;
        
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .card_vote{
            .vote_average{
                color: yellow;
            }
            .vote{
                color: $bf-bg_darker;
            }
        }
    }
}