@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import './vars.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
}

// Default Rules
ul {
    list-style: none;
}

img {
    max-width: 100%;
}

// Layout
.container {
    padding: 1rem 0;
    margin: 0 auto;
    max-width: 900px;
}

// Card
.card_wrapper {
    position: relative;
    height: 100%;

    &:hover {
        .card_info {
            opacity: 1;
        }
    }

    .card_info {
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        opacity: 0;
        padding: 1rem;
        overflow: auto;
        font-weight: bold;
        color: $bf-text_white;
        transition: 300ms ease-in-out;
        background-color: $bf-bg_alternative;

        gap: 1rem;
        display: flex;
        flex-direction: column;

        h3 {
            .card_content {
                vertical-align: middle;
            }
        }

        .card_content {
            font-size: 1rem;
            font-weight: normal;

            vertical-align: top;
        }

        .card_vote {

            .vote_average {
                color: $bf-star;
            }

            .vote {
                color: $bf-bg_darker;
            }
        }

        .card_overview {

            span {
                font-weight: normal;
            }
        }
    }
}